<div class="scholarship-accordion__content">
  <section aria-labelledby="family-nucleus-title" class="scholarship-subsection">
    <div class="scholarship-subsection__header">
      <h4 id="family-nucleus-title">Núcleo familiar</h4>
      <p>
        Consideramos núcleo familiar a las personas que comparten ingresos o gastos, vivan o no en
        el mismo hogar.
      </p>
    </div>

    <ort-card>
      <ort-card-content>
        <header class="member-card__header">
          <h5 class="member-card__title" ortCardTitle>Integrante 1</h5>
          <p ortCardSubtitle>Postulante</p>
        </header>

        <ort-form-field>
          <ort-label>Nombre</ort-label>
          <input ortInput required />
        </ort-form-field>

        <ort-form-field>
          <ort-label>Edad</ort-label>
          <input ortNumberInput required [decimals]="0" />
        </ort-form-field>

        <ort-radio-group legend="¿Percibe ingresos?" orientation="vertical" [required]="true">
          <ort-radio-button class="inscription-radio-option" value="si">
            Si, percibe
          </ort-radio-button>
          <ort-radio-button class="inscription-radio-option" value="no">No</ort-radio-button>
        </ort-radio-group>
      </ort-card-content>
    </ort-card>
    <button ort-secondary-button type="button">
      <ort-icon name="add" size="sm" />
      Agregar integrante
    </button>
  </section>

  <hr class="subsection-divider" />

  <section aria-labelledby="housing-title" class="scholarship-subsection">
    <div class="scholarship-subsection__header">
      <h4 id="housing-title">Vivienda</h4>
    </div>

    <ort-radio-group
      legend="¿En qué tipo de vivienda residís?"
      orientation="vertical"
      [required]="true">
      <ort-radio-button class="inscription-radio-option" value="propia">Propia</ort-radio-button>
      <ort-radio-button class="inscription-radio-option" value="alquilada">
        Alquilada
      </ort-radio-button>
      <ort-radio-button class="inscription-radio-option" value="otro">Otro tipo</ort-radio-button>
    </ort-radio-group>
  </section>

  <hr class="subsection-divider" />

  <section aria-labelledby="family-goods-title" class="scholarship-subsection">
    <div class="scholarship-subsection__header">
      <h4 id="family-goods-title">Bienes del núcleo familiar</h4>
    </div>

    <ort-radio-group
      legend="¿Cuentan con casa de verano o descanso?"
      orientation="vertical"
      [required]="true">
      <ort-radio-button class="inscription-radio-option" value="si">Si, tenemos</ort-radio-button>
      <ort-radio-button class="inscription-radio-option" value="no">No</ort-radio-button>
    </ort-radio-group>

    <ort-radio-group
      legend="¿Cuentan con vehículo propio?"
      orientation="vertical"
      [required]="true">
      <ort-radio-button class="inscription-radio-option" value="si">Si, tenemos</ort-radio-button>
      <ort-radio-button class="inscription-radio-option" value="no">No</ort-radio-button>
    </ort-radio-group>
  </section>

  <hr class="subsection-divider" />

  <section aria-labelledby="other-income-title" class="scholarship-subsection">
    <div class="scholarship-subsection__header">
      <h4 id="other-income-title">Otros ingresos</h4>
      <p>
        Indicá si recibís ayuda económica de terceros o si contás con ahorros destinados
        exclusivamente a pagar tu carrera.
      </p>
    </div>

    <ort-form-field>
      <ort-label>Aportes o ahorros</ort-label>
      <span ortTextPrefix>$</span>
      <input class="money-input" ortNumberInput required />
    </ort-form-field>

    <ort-form-field>
      <ort-label>¿Cómo piensas solventar tus estudios?</ort-label>
      <textarea ortInput required></textarea>
      <ort-hint align="end">0/400</ort-hint>
    </ort-form-field>

    <ort-form-field>
      <ort-label>Otras observaciones</ort-label>
      <textarea ortInput></textarea>
      <ort-hint align="end">0/400</ort-hint>
    </ort-form-field>
  </section>

  <hr class="subsection-divider" />

  <section aria-labelledby="monthly-expenses-title" class="scholarship-subsection">
    <div class="scholarship-subsection__header">
      <h4 id="monthly-expenses-title">Gastos mensuales</h4>
      <p>Ingresá montos mensuales mayores a $1.000. Si un gasto no aplica, dejalo vacío.</p>
      <p>
        Si sos del interior, recordá incluir los costos asociados a alquiler en Montevideo y los
        gastos de transporte.
      </p>
    </div>

    <ort-card>
      <ort-card-content>
        <ort-form-field>
          <ort-label>Vivienda</ort-label>
          <span ortTextPrefix>$</span>
          <input class="money-input" ortNumberInput required />
          <ort-hint>Cuota u alquiler, impuestos, servicios, etc.</ort-hint>
        </ort-form-field>

        <ort-form-field>
          <ort-label>Otros servicios</ort-label>
          <span ortTextPrefix>$</span>
          <input class="money-input" ortNumberInput required />
          <ort-hint>Suscripciones, telefonía móvil, etc.</ort-hint>
        </ort-form-field>

        <ort-form-field>
          <ort-label>Salud y bienestar</ort-label>
          <span ortTextPrefix>$</span>
          <input class="money-input" ortNumberInput required />
          <ort-hint>Mutualista, medicamentos, club, etc.</ort-hint>
        </ort-form-field>

        <ort-form-field>
          <ort-label>Gastos personales</ort-label>
          <span ortTextPrefix>$</span>
          <input class="money-input" ortNumberInput required />
          <ort-hint>Alimentación, vestimenta, etc.</ort-hint>
        </ort-form-field>

        <ort-form-field>
          <ort-label>Transporte</ort-label>
          <span ortTextPrefix>$</span>
          <input class="moneyInput" ortNumberInput required />
          <ort-hint>Boletos, combustible, peajes, etc.</ort-hint>
        </ort-form-field>
      </ort-card-content>
    </ort-card>

    <button ort-secondary-button type="button" (click)="openDrawer()">
      <ort-icon name="add" size="sm" />
      Agregar gasto
    </button>
  </section>

  <ort-drawer title="Nuevo gasto mensual" [(open)]="drawer">
    <ort-form-field>
      <ort-label>Nombre del gasto</ort-label>
      <input ortInput required />
    </ort-form-field>

    <ort-form-field>
      <ort-label>Monto</ort-label>
      <span ortTextPrefix>$</span>
      <input class="money-input" ortNumberInput required />
      <ort-hint>Debe ser mayor a $1000 pesos uruguayos.</ort-hint>
    </ort-form-field>

    <ng-container ortDrawerFooter>
      <button ort-primary-button type="button" (click)="closeDrawer()">Agregar a la lista</button>
    </ng-container>
  </ort-drawer>
</div>
