.member-card__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-inline: var(--ort-sys-spacing-12);
  padding-bottom: 0;
}

.member-card__header h5 {
  margin: 0;
  color: var(--ort-sys-base-text-color-headline);
  font-weight: var(--ort-sys-font-weight-semibold);
  font-size: var(--ort-sys-heading-level6-text-size);
  font-family: var(--ort-sys-font-family-display);
  line-height: var(--ort-sys-heading-level6-line-height);
}

.ort-card-content {
  padding-inline: var(--ort-sys-spacing-12);
}

input[ortNumberInput].money-input {
  text-align: right;
}

.delete-expense-button {
  display: inline-flex;
  align-items: center;
  padding: var(--ort-sys-spacing-4);
  border: 0;
  background: none;
  color: var(--ort-sys-base-icon-color);
  cursor: pointer;
}
