<div class="inscription-accordion__content" [formGroup]="facade.regulationForm">
  @if (facade.hasAcceptedStudentRegulation()) {
  <p>
    En la fecha {{ facade.submittedAcceptanceDate() | date: 'dd/MM/yyyy' }} como parte del proceso
    de inscripción a la universidad, Asociación Uruguaya ORT ha recibido de tu parte el
    reconocimiento y aceptación del Reglamento Estudiantil de Universidad ORT Uruguay.
  </p>

  <button ort-secondary-button type="button" (click)="facade.openRegulationReader()">
    Ver reglamento
  </button>

  } @else {
  <p class="mb-1">
    Te recomendamos leer el Reglamento Estudiantil. En él se detallan los derechos,
    responsabilidades y condiciones que rigen tu vida académica en la universidad.
  </p>
  <button ort-secondary-button type="button" (click)="facade.openRegulationReader()">
    Ver reglamento
  </button>
  <ort-checkbox formControlName="aceptaReglamento">Acepto el reglamento estudiantil.</ort-checkbox>
  }
</div>
