.inscription-screen__header h2 {
  font-weight: var(--ort-sys-font-weight-bold);
  font-size: var(--ort-sys-heading-level4-text-size);
  font-family: var(--ort-sys-font-family-display);
  line-height: var(--ort-sys-heading-level4-line-height);
}

.inscription-subsection > h2,
.inscription-subsection > h3,
.inscription-subsection > h4 {
  font-weight: var(--ort-sys-font-weight-bold);
  font-size: var(--ort-sys-heading-level6-text-size);
  font-family: var(--ort-sys-font-family-display);
  line-height: var(--ort-sys-heading-level6-line-height);
}

.inscription-form__stack > h5 {
  font-weight: var(--ort-sys-font-weight-semibold);
  font-size: var(--ort-sys-body-text-size);
  font-family: var(--ort-sys-font-family-plain);
  line-height: var(--ort-sys-body-line-height);
}

.inscription-identity-confirmation {
  font-size: var(--ort-sys-body-sm-text-size);
  line-height: var(--ort-sys-body-sm-line-height);
}

ort-accordion-description {
  color: var(--ort-sys-base-text-error-color);
}

.inscription-accordion__title-group {
  display: flex;
  flex-direction: column;
  gap: var(--ort-sys-spacing-2);
}

.back-button {
  display: none;
}

.inscription-accordion__state-icon-wrapper {
  position: relative;
}

.inscription-accordion__state-badge {
  position: absolute;
  top: calc(-1 * var(--ort-sys-spacing-6));
  right: calc(-1 * var(--ort-sys-spacing-6));
}

@media (width >= 52.5rem) {
  .back-button {
    display: block;
  }
}
