[submodule "admisiones"]
	path = admisiones
	url = https://github.com/DesarrolloORT/admisiones.git
	branch = v1.0.0/fix/apiMessages
[submodule "api-admisiones"]
	path = api-admisiones
	url = https://github.com/DesarrolloORT/api-admisiones.git
	branch = testing
