<section aria-labelledby="scholarship-postulation-title" class="scholarship-screen">
  <header class="scholarship-screen__header">
    <h1 id="scholarship-postulation-title">Postulación a beca</h1>
    <p>Este proceso te llevará aproximadamente 10–15 minutos.</p>
    <span>Los campos marcados con un asterisco (*) son obligatorios.</span>
  </header>
  <ort-accordion>
    <ort-accordion-item [expanded]="true">
      <ort-accordion-header>
        <ort-accordion-title>
          <ort-icon name="person" ortAccordionTitleLeadingIcon size="md" />
          Tu inscripción
        </ort-accordion-title>
      </ort-accordion-header>
      <ort-accordion-body>
        <p>Contenido…</p>
      </ort-accordion-body>
    </ort-accordion-item>
  </ort-accordion>
</section>
