:host {
  display: block;
}

.quick-actions__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 48px;
}

.quick-actions__message {
  margin: 0;
  color: var(--ort-sys-base-text-color-body);
  font-size: var(--ort-sys-body-text-size);
  line-height: var(--ort-sys-body-line-height);
}
