<section
  aria-labelledby="scholarship-academic-title"
  class="scholarship-screen scholarship-screen--narrow">
  <header class="scholarship-screen__header">
    <h1 id="scholarship-academic-title">Postulación a beca</h1>
    <p>Este proceso te llevará aproximadamente 10–15 minutos.</p>
    <span>Los campos marcados con un asterisco (*) son obligatorios.</span>
  </header>

  @if (facade.showErrorAlert()) {
  <app-error-alert />
  }
  <form>
    <ort-accordion>
      <ort-accordion-item
        [class.scholarship-accordion-item--complete]="facade.inscriptionStatus.isComplete()"
        [expanded]="true">
        <ort-accordion-header>
          <ort-accordion-title>
            <div class="scholarship-accordion-item__icon-wrapper" ortAccordionTitleLeadingIcon>
              <ort-icon
                class="scholarship-accordion-item__icon"
                size="md"
                [filled]="facade.inscriptionStatus.isComplete()"
                [name]="facade.inscriptionStatus.isComplete() ? 'check_circle' : 'contact_page'" />
              @if (facade.inscriptionStatus.hasError()) {
              <ort-badge
                class="scholarship-accordion-item__icon-badge"
                color="primary"
                type="dot" />
              }
            </div>
            Tu inscripción
          </ort-accordion-title>
          @if (facade.inscriptionStatus.hasError()) {
          <ort-accordion-description>
            <ort-error>Información pendiente</ort-error>
          </ort-accordion-description>
          }
        </ort-accordion-header>
        <ort-accordion-body>
          <app-inscription />
        </ort-accordion-body>
      </ort-accordion-item>
      @if (facade.shouldShowEvaluationSection()) {
      <ort-accordion-item
        [class.scholarship-accordion-item--complete]="facade.evaluationStatus.isComplete()">
        <ort-accordion-header>
          <ort-accordion-title>
            <div class="scholarship-accordion-item__icon-wrapper" ortAccordionTitleLeadingIcon>
              <ort-icon
                class="scholarship-accordion-item__icon"
                size="md"
                [filled]="facade.evaluationStatus.isComplete()"
                [name]="facade.evaluationStatus.isComplete() ? 'check_circle' : 'calendar_month'" />
              @if (facade.evaluationStatus.hasError()) {
              <ort-badge
                class="scholarship-accordion-item__icon-badge"
                color="primary"
                type="dot" />
              }
            </div>
            Período de evaluación
          </ort-accordion-title>
          @if (facade.evaluationStatus.hasError()) {
          <ort-accordion-description>
            <ort-error>Información pendiente</ort-error>
          </ort-accordion-description>
          }
        </ort-accordion-header>
        <ort-accordion-body>
          <app-evaluation-period />
        </ort-accordion-body>
      </ort-accordion-item>
      }
    </ort-accordion>
  </form>
  <div class="scholarship-step__footer">
    <button class="scholarship-step-button" ort-primary-button type="button" (click)="onContinue()">
      Continuar
    </button>
  </div>
</section>
