:host {
  display: block;
}

.dashboard-greeting {
  display: grid;
  gap: var(--ort-sys-spacing-8);
}

.dashboard-greeting h1 {
  font-size: var(--ort-sys-heading-level4-text-size);
  line-height: var(--ort-sys-heading-level4-line-height);
  margin: 0;
  font-weight: var(--ort-sys-font-weight-bold);
  font-family: var(--home-display);
  letter-spacing: 0;
}

.dashboard-greeting p {
  margin: 0;
  color: var(--home-body);
  font-size: var(--ort-sys-body-text-size);
  line-height: var(--ort-sys-body-line-height);
}

.dashboard-main {
  display: grid;
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  gap: var(--ort-sys-spacing-48);
  padding-block: var(--ort-sys-spacing-64);
}

.swiper {
  width: 100%;
  padding-bottom: var(--ort-sys-spacing-32);
}
.swiper-slide {
  height: auto;
  padding: var(--ort-sys-spacing-8);
}

.swiper-pagination {
  bottom: 0;
  margin-top: var(--ort-sys-spacing-10);
}

.swiper-pagination-bullet {
  background: var(--ort-sys-base-icon-color);
}

.swiper-pagination-bullet-active {
  background: var(--ort-sys-base-surface-primary-background);
}

.dashboard-container {
  display: grid;
  gap: var(--ort-sys-spacing-24);
}

.dashboard-cards {
  display: grid;
  gap: var(--ort-sys-spacing-36);
}

.dashboard-actions {
  display: none;
}

.mis-carreras,
.mis-becas {
  display: grid;
  align-content: start;
}

.alert-detail--inline {
  display: none;
}

@media (width <=760px) {
  .dashboard-main {
    gap: 24px;
    width: 100%;
    padding: 24px 16px;
  }

  .dashboard-greeting {
    gap: var(--ort-sys-spacing-4);
  }
}

@media (width >= 768px) {
  .alert-detail--inline {
    display: inline;
  }

  .alert-detail--block {
    display: none;
  }

  .dashboard-actions {
    display: flex;
    gap: var(--ort-sys-spacing-36);
  }

  .mis-carreras--single, .mis-becas--single {
    max-width: 40%;
  }
  .dashboard-cards--row {
    grid-template-columns: 1fr 1fr;
  }

  .dashboard-container {
    gap: var(--ort-sys-spacing-48);
  }
}

