:host {
  display: block;
}

.password-requirements {
  display: grid;
  gap: 8px;
}

.password-requirements__intro {
  margin: 0;
  color: var(--ort-sys-base-text-color-body);
  font-size: 16px;
  line-height: 24px;
}

.password-requirements__list {
  display: grid;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.password-requirements__item {
  display: flex;
  gap: 4px;
  align-items: center;
  color: var(--ort-sys-base-text-color-body);
  font-size: 16px;
  line-height: 24px;

  ort-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    color: var(--ort-sys-base-text-color-body);
    font-size: 24px;
  }

  &--met ort-icon {
    color: var(--ort-sys-color-success, #16a34a);
  }
}
