<div class="scholarship-accordion__content" [formGroup]="personalDataForm">
  <ort-radio-group
    formControlName="attendanceMode"
    legend="Si comenzás la carrera, ¿cómo asistirás?"
    orientation="vertical"
    [required]="true">
    <ort-radio-button class="inscription-radio-option" value="montevideo">
      Residiré en Montevideo
    </ort-radio-button>
    <ort-radio-button class="inscription-radio-option" value="viajare">
      Viajaré para asistir a clases
    </ort-radio-button>
  </ort-radio-group>

  @if (attendanceModeControl.invalid && (submitted() || attendanceModeControl.touched)) {
  <ort-error>Seleccioná una opción</ort-error>
  }
</div>
