:host {
  display: block;
}

#scholarship-success-title {
  margin-bottom: var(--ort-sys-spacing-8);
  color: var(--ort-sys-base-text-color-headline);
  font-size: var(--ort-sys-font-size-24);
}

.success-screen__content p {
  color: var(--ort-sys-base-text-color-body);
}

.success-screen__content {
  padding-inline: var(--ort-sys-spacing-8);
  text-align: center;
}

.success-screen {
  display: flex;
  flex-direction: column;
  gap: var(--ort-sys-spacing-48);
  justify-content: center;
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0;
  padding: var(--ort-sys-spacing-24);
}
