<section aria-labelledby="contact-title" class="auth-form-section" [formGroup]="form()">
  <h2 class="auth-contact-title mt-2" id="contact-title">Datos de contacto</h2>

  <ort-form-field [hideRequiredMarker]="!!form().controls.telefono1.value?.number">
    <ort-label>Celular</ort-label>
    <ort-phone-input
      countryAriaLabel="Código de país"
      formControlName="telefono1"
      numberAriaLabel="Número de teléfono"
      placeholderText="Número"
      [defaultCountry]="'UY'"
      [required]="true" />
    <ort-hint>Seleccione prefijo y luego ingrese solo dígitos.</ort-hint>
    @if (form().controls.telefono1.touched && form().controls.telefono1.hasError('required')) {
    <ort-error>El teléfono es obligatorio.</ort-error>
    } @if (form().controls.telefono1.touched && form().controls.telefono1.hasError('phone')) {
    <ort-error>Ingrese un teléfono válido.</ort-error>
    }
  </ort-form-field>

  <ort-form-field [hideRequiredMarker]="!!form().controls.mail.value">
    <ort-label>E-mail</ort-label>
    <input autocomplete="email" formControlName="mail" ortInput type="email" [id]="'email'" />
    @if (form().controls.mail.touched && form().controls.mail.hasError('required')) {
    <ort-error class="sr-only">Este campo es obligatorio</ort-error>
    } @if (form().controls.mail.touched && form().controls.mail.hasError('email')) {
    <ort-error>Ingresá un e-mail válido</ort-error>
    }
  </ort-form-field>

  <ort-form-field [hideRequiredMarker]="!!form().controls.verificacionMail.value">
    <ort-label>Confirmar e-mail</ort-label>
    <input
      autocomplete="email"
      formControlName="verificacionMail"
      ortInput
      type="email"
      [id]="'confirm-email'" />
    @if (form().controls.verificacionMail.touched &&
    form().controls.verificacionMail.hasError('required')) {
    <ort-error class="sr-only">Este campo es obligatorio</ort-error>
    } @if (form().controls.verificacionMail.touched &&
    form().controls.verificacionMail.hasError('email')) {
    <ort-error>Ingresá un e-mail válido</ort-error>
    } @if (form().controls.verificacionMail.touched &&
    form().controls.verificacionMail.hasError('emailMismatch')) {
    <ort-error>Los e-mails ingresados no coinciden</ort-error>
    }
  </ort-form-field>
</section>
