<section aria-labelledby="contact-title" class="auth-form-section" [formGroup]="form()">
  <h2 class="auth-contact-title mt-2" id="contact-title">Datos de contacto</h2>

  <ort-form-field [hideRequiredMarker]="!!form().controls.primaryPhone.value?.number">
    <ort-label>Celular</ort-label>
    <ort-phone-input
      countryAriaLabel="Código de país"
      formControlName="primaryPhone"
      numberAriaLabel="Número de teléfono"
      placeholderText="Número"
      [defaultCountry]="'UY'"
      [required]="true" />
    <ort-hint>Seleccione prefijo y luego ingrese solo dígitos.</ort-hint>
    @if (form().controls.primaryPhone.touched && form().controls.primaryPhone.hasError('required'))
    {
    <ort-error>El teléfono es obligatorio.</ort-error>
    } @if (form().controls.primaryPhone.touched && form().controls.primaryPhone.hasError('phone')) {
    <ort-error>Ingrese un teléfono válido.</ort-error>
    }
  </ort-form-field>

  <ort-form-field [hideRequiredMarker]="!!form().controls.email.value">
    <ort-label>E-mail</ort-label>
    <input autocomplete="email" formControlName="email" ortInput type="email" [id]="'email'" />
    @if (form().controls.email.touched && form().controls.email.hasError('required')) {
    <ort-error>Este campo es obligatorio</ort-error>
    } @if (form().controls.email.touched && form().controls.email.hasError('email')) {
    <ort-error>Ingresá un e-mail válido</ort-error>
    }
  </ort-form-field>

  <ort-form-field [hideRequiredMarker]="!!form().controls.emailConfirmation.value">
    <ort-label>Confirmar e-mail</ort-label>
    <input
      autocomplete="email"
      formControlName="emailConfirmation"
      ortInput
      type="email"
      [id]="'confirm-email'" />
    @if (form().controls.emailConfirmation.touched &&
    form().controls.emailConfirmation.hasError('required')) {
    <ort-error>Este campo es obligatorio</ort-error>
    } @if (form().controls.emailConfirmation.touched &&
    form().controls.emailConfirmation.hasError('email')) {
    <ort-error>Ingresá un e-mail válido</ort-error>
    } @if (form().controls.emailConfirmation.touched &&
    form().controls.emailConfirmation.hasError('emailMismatch')) {
    <ort-error>Los e-mails ingresados no coinciden</ort-error>
    }
  </ort-form-field>
</section>
