<section aria-labelledby="scholarship-postulation-title" class="scholarship-screen">
  <header class="scholarship-screen__header">
    <h1 id="scholarship-postulation-title">Información personal</h1>
    <p>
      Ingresá tus datos personales y educativos. Según la modalidad, deberás completar información
      adicional.
    </p>
    <span>Los campos marcados con un asterisco (*) son obligatorios.</span>
  </header>

  <form>
    <ort-accordion>
      @if (variant() !== 'fcl' && variant() !== 'fexaSin') {
      <ort-accordion-item [expanded]="true">
        <ort-accordion-header>
          <ort-accordion-title>
            <ort-icon name="person" ortAccordionTitleLeadingIcon size="md" />
            Datos personales
          </ort-accordion-title>
        </ort-accordion-header>
        <ort-accordion-body>
          <app-personal-data />
        </ort-accordion-body>
      </ort-accordion-item>
      }

      <ort-accordion-item [expanded]="variant() === 'fcl' || variant() === 'fexaSin'">
        <ort-accordion-header>
          <ort-accordion-title>
            <ort-icon name="auto_stories" ortAccordionTitleLeadingIcon size="md" />
            Información educativa
          </ort-accordion-title>
        </ort-accordion-header>

        <ort-accordion-body>
          @if (variant() === 'fbr') {
          <app-education-info-fbr />
          } @else if (variant() === 'fcl'){
          <app-education-info-fcl />
          } @else {
          <app-education-info />
          }
        </ort-accordion-body>
      </ort-accordion-item>

      @if (variant() === 'fcl') {
      <ort-accordion-item>
        <ort-accordion-header>
          <ort-accordion-title>
            <ort-icon name="work_outline" ortAccordionTitleLeadingIcon size="md" />
            Antecedentes laborales
          </ort-accordion-title>
        </ort-accordion-header>
        <ort-accordion-body>
          <app-work-history />
        </ort-accordion-body>
      </ort-accordion-item>
      } @if (variant() !== 'fexaSin'){
      <ort-accordion-item>
        <ort-accordion-header>
          <ort-accordion-title>
            <ort-icon name="description" ortAccordionTitleLeadingIcon size="md" />
            Declaración jurada
          </ort-accordion-title>
        </ort-accordion-header>
        <ort-accordion-body>
          <app-declaration />
        </ort-accordion-body>
      </ort-accordion-item>
      }
    </ort-accordion>
  </form>
  <button ort-primary-button type="button" (click)="onContinue()">Continuar</button>
</section>
