:host {
  display: block;
  height: 100%;
}

.dashboard-card {
  display: grid;
  grid-template-areas:
    'icon chip'
    'title title'
    'meta meta'
    'actions actions';
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto 1fr auto;
  gap: var(--ort-sys-spacing-16);
  align-items: start;
  height: 100%;
  padding: var(--ort-sys-spacing-24);
  border-radius: var(--ort-sys-border-radius-12);
  background: var(--ort-sys-card-background);
  box-shadow: var(--ort-sys-elevation-md-x) var(--ort-sys-elevation-md-y)
    var(--ort-sys-elevation-md-blur) var(--ort-sys-elevation-md-spread)
    var(--ort-sys-elevation-md-color);
}

.dashboard-card__icon {
  grid-area: icon;
  color: var(--ort-sys-base-icon-color);
}

.dashboard-card__chip {
  grid-area: chip;
  justify-self: end;
}

.dashboard-card__title {
  grid-area: title;
  margin: 0;
  font-weight: var(--ort-sys-font-weight-bold);
  font-size: var(--ort-sys-font-size-16 );
  font-family: var(--ort-sys-font-family-display);
  line-height: var(--ort-sys-line-height-24);
}

.dashboard-card__meta {
  display: flex;
  grid-area: meta;
  gap: var(--ort-sys-spacing-8);
  align-items: center;
}

.dashboard-card__meta-icon {
  color: var(--ort-sys-base-icon-color);
}

.dashboard-card__meta-text {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-size: var(--ort-sys-body-text-size);
  line-height: var(--ort-sys-body-line-height);
}

.dashboard-card__meta-label {
  color: var(--ort-sys-base-text-color-body);
  font-size: var(--ort-sys-caption-text-size);
  line-height: var(--ort-sys-caption-line-height);
}

.dashboard-card__meta-value {
  font-weight: var(--ort-sys-font-weight-semibold);
}

.dashboard-card__actions {
  grid-area: actions;
  align-self: end;
  margin-top: var(--ort-sys-spacing-8);
}
