/* Backdrop Styles: Covers the whole screen with a semi-transparent background */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100dvh;
  background-color: var(--ort-sys-color-black-a50);
}

/* Spinner Loader Styles: Center the spinner over the backdrop */
.spinner-loader {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1003;
  transform: translate(-50%, -50%);
}
