:host {
  display: block;
}

.scholarship-requirements__card {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--ort-sys-spacing-12);
  justify-content: space-between;
  align-items: start;
  width: 100%;
  height: 100%;
  margin-top: var(--ort-sys-spacing-24);
  padding: var(--ort-sys-spacing-24) var(--ort-sys-spacing-16);
  border: 1px solid var(--ort-sys-base-surface-background-dim);
  border-radius: var(--ort-sys-border-radius-12);
  background: var(--ort-sys-card-background);
}

.scholarship-requirements__title {
  margin: 0;
  font-weight: var(--ort-sys-font-weight-bold);
  font-size: var(--ort-sys-font-size-20);
  line-height: var(--ort-sys-headline-small-line-height);
}

.scholarship-requirements__list {
  display: grid;
  gap: var(--ort-sys-spacing-12);
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

.scholarship-requirements__list-item {
  display: flex;
  gap: var(--ort-sys-spacing-8);
  align-items: flex-start;
}

.scholarship-requirements__list-marker {
  flex: 0 0 auto;
  color: var(--ort-sys-color-primary-500);
}

.scholarship-requirements__list-item-content {
  color: var(--ort-sys-base-text-color-body);
}
