:host {
  display: block;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--ort-sys-spacing-8);
}

.section-header__title {
  margin: 0;
  font-weight: 700;
  font-size: var(--ort-sys-heading-level5-text-size);
  line-height: var(--ort-sys-heading-level5-line-height);
}

@media (width >= 768px) {
  .section-header__add {
    display: none;
  }

  .section-header {
    margin-bottom: var(--ort-sys-spacing-16);
  }
}
