:host {
  display: block;
}

.review-screen {
  display: grid;
  gap: var(--ort-sys-spacing-24);
  width: 90%;
  max-width: 1200px;
  margin: var(--ort-sys-spacing-24) auto;
}

.review-screen__header {
  display: grid;
  gap: var(--ort-sys-spacing-8);
}

.review-screen__header h1 {
  margin: 0;
  color: var(--ort-sys-base-text-color-headline);
  font-weight: var(--ort-sys-font-weight-bold);
  font-size: var(--ort-sys-heading-level4-text-size);
  font-family: var(--ort-sys-font-family-display);
  line-height: var(--ort-sys-heading-level4-line-height);
}

.review-screen__header p {
  margin: 0;
  color: var(--ort-sys-base-text-color-body);
  font-size: var(--ort-sys-body-text-size);
  line-height: var(--ort-sys-body-line-height);
}

.result-summary {
  display: grid;
  gap: var(--ort-sys-spacing-12);
}

.result-summary__item {
  display: flex;
  gap: var(--ort-sys-spacing-8);
  align-items: center;
}

.result-summary__icon {
  flex-shrink: 0;
  color: var(--ort-sys-base-icon-color);
}

.result-summary__text {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.result-summary__label {
  color: var(--ort-sys-base-text-color-body);
  font-size: var(--ort-sys-font-size-14);
  line-height: var(--ort-sys-line-height-20);
}

.result-summary__value {
  font-weight: var(--ort-sys-font-weight-semibold);
  font-size: var(--ort-sys-body-text-size);
  line-height: var(--ort-sys-body-line-height);
}

.review-screen__form {
  display: grid;
  gap: var(--ort-sys-spacing-12);
}

.review-screen__form p {
  margin: 0;
  color: var(--ort-sys-base-text-color-body);
  font-size: var(--ort-sys-font-size-14);
  line-height: var(--ort-sys-line-height-20);
}

.review-screen__footer {
  display: flex;
  flex-direction: column;
  gap: var(--ort-sys-spacing-8);
}

@media (width >=768px) {
  .result-summary {
    gap: var(--ort-sys-spacing-16);
  }
}
