<div class="inscription-accordion-list" [formGroup]="facade.personalForm">
  <details class="inscription-accordion">
    <summary>
      <span>
        <ort-icon aria-hidden="true">schema</ort-icon>
        Decisión académica
      </span>
      <ort-icon aria-hidden="true">expand_more</ort-icon>
    </summary>
    <div class="inscription-accordion__content">
      <ort-form-field [hideRequiredMarker]="!!facade.personalForm.controls.academicDecision.value">
        <ort-label>Motivo principal</ort-label>
        <ort-select
          aria-label="Motivo principal"
          formControlName="academicDecision"
          id="academic-decision">
          <ort-option value="">Seleccioná...</ort-option>
          @for (option of facade.academicDecisionOptions(); track option.value) {
          <ort-option [value]="option.value">{{ option.label }}</ort-option>
          }
        </ort-select>
      </ort-form-field>
    </div>
  </details>

  <details class="inscription-accordion">
    <summary>
      <span>
        <ort-icon aria-hidden="true">domain</ort-icon>
        Experiencia con ORT
      </span>
      <ort-icon aria-hidden="true">expand_more</ort-icon>
    </summary>
    <div class="inscription-accordion__content">
      <ort-form-field [hideRequiredMarker]="!!facade.personalForm.controls.ortExperience.value">
        <ort-label>Motivo para elegir ORT</ort-label>
        <ort-select
          aria-label="Motivo para elegir ORT"
          formControlName="ortExperience"
          id="ort-experience">
          <ort-option value="">Seleccioná...</ort-option>
          @for (option of facade.ortExperienceOptions(); track option.value) {
          <ort-option [value]="option.value">{{ option.label }}</ort-option>
          }
        </ort-select>
      </ort-form-field>
    </div>
  </details>
</div>
