<!-- eslint-disable @angular-eslint/template/cyclomatic-complexity -->
<ort-form-field [hideRequiredMarker]="!!countryControl.value">
  <ort-label>País de residencia</ort-label>
  <ort-select
    aria-label="País de residencia"
    [formControl]="countryControl"
    [id]="'location-country'"
    [required]="true"
    (blur)="onBlur()"
    (selectionChange)="onCountryChange()">
    <ort-option value="">Seleccioná...</ort-option>
    @for (country of countries(); track country.codigoPais) {
    <ort-option [value]="country.codigoPais.toString()">{{ country.nombre }}</ort-option>
    }
  </ort-select>
  @if (countryControl.touched && countryControl.hasError('required')) {
  <ort-error class="sr-only">Este campo es obligatorio</ort-error>
  }
</ort-form-field>

@if (showStates()) {
<ort-form-field [hideRequiredMarker]="!!stateControl.value">
  <ort-label>Departamento / Estado</ort-label>
  <ort-select
    aria-label="Departamento / Estado"
    [formControl]="stateControl"
    [id]="'location-state'"
    [required]="true"
    (blur)="onBlur()"
    (selectionChange)="onStateChange()">
    <ort-option value="">Seleccioná...</ort-option>
    @for (state of states(); track state.codigoEstado) {
    <ort-option [value]="state.codigoEstado.toString()">{{ state.nombre }}</ort-option>
    }
  </ort-select>
  @if (stateControl.touched && stateControl.hasError('required')) {
  <ort-error class="sr-only">Este campo es obligatorio</ort-error>
  }
</ort-form-field>
} @if (showCities()) {
<ort-form-field [hideRequiredMarker]="!!cityControl.value">
  <ort-label>Ciudad</ort-label>
  <ort-select
    aria-label="Ciudad"
    [formControl]="cityControl"
    [id]="'location-city'"
    [required]="true"
    (blur)="onBlur()"
    (selectionChange)="onCityChange()">
    <ort-option value="">Seleccioná...</ort-option>
    @for (city of cities(); track city.codigoCiudad) {
    <ort-option [value]="city.codigoCiudad.toString()">{{ city.nombre }}</ort-option>
    }
  </ort-select>
  @if (cityControl.touched && cityControl.hasError('required')) {
  <ort-error class="sr-only">Este campo es obligatorio</ort-error>
  }
</ort-form-field>
}
