<ort-form-field [hideRequiredMarker]="!!countryControl.value">
  <ort-label>País de residencia</ort-label>
  <ort-select id="location-country" [formControl]="countryControl" (blur)="onBlur()"
    (selectionChange)="onCountryChange()">
    <ort-option value="">Seleccioná...</ort-option>
    @for (country of countries(); track country.codigoPais) {
    <ort-option [value]="country.codigoPais.toString()">{{ country.nombre }}</ort-option>
    }
  </ort-select>
</ort-form-field>

@if (showStates()) {
<ort-form-field [hideRequiredMarker]="!!stateControl.value">
  <ort-label>Departamento / Estado</ort-label>
  <ort-select id="location-state" [formControl]="stateControl" (blur)="onBlur()" (selectionChange)="onStateChange()">
    <ort-option value="">Seleccioná...</ort-option>
    @for (state of states(); track state.codigoEstado) {
    <ort-option [value]="state.codigoEstado.toString()">{{ state.nombre }}</ort-option>
    }
  </ort-select>
</ort-form-field>
} @if (showCities()) {
<ort-form-field [hideRequiredMarker]="!!cityControl.value">
  <ort-label>Ciudad</ort-label>
  <ort-select id="location-city" [formControl]="cityControl" (blur)="onBlur()" (selectionChange)="onCityChange()">
    <ort-option value="">Seleccioná...</ort-option>
    @for (city of cities(); track city.codigoCiudad) {
    <ort-option [value]="city.codigoCiudad.toString()">{{ city.nombre }}</ort-option>
    }
  </ort-select>
</ort-form-field>
}