#seminarios-title {
  margin-top: var(--ort-sys-spacing-16);
  color: var(--ort-sys-base-text-color-headline);
  font-weight: 700;
  font-size: var(--ort-sys-body-sm-text-size);
  line-height: var(--ort-sys-body-sm-line-height);
}

.inscription-summary-list {
  display: grid;
  gap: var(--ort-sys-spacing-8);
  margin-top: var(--ort-sys-spacing-12);
}

.inscription-summary-list__item,
.inscription-summary-list__item dt {
  display: grid;
  grid-template-columns: 1.5rem 1fr;
  gap: 0 var(--ort-sys-list-gap);
}

.inscription-summary-list__item dt {
  grid-column: 1 / -1;
}

.inscription-summary-list__item dt ort-icon {
  grid-row: span 2;
  color: var(--ort-sys-base-icon-color);
  font-size: 1.5rem;
}

.inscription-summary-list__item dt span {
  grid-column: 2;
  color: var(--ort-sys-list-overline-color);
  font-size: var(--ort-sys-list-overline-font-size);
  line-height: var(--ort-sys-list-overline-line-height);
}

.inscription-summary-list__item dd {
  grid-column: 2;
  margin: 0;
  color: var(--ort-sys-list-title-color);
  font-weight: 600;
  font-size: var(--ort-sys-list-title-font-size);
  line-height: var(--ort-sys-list-title-line-height);
}
